
@{
    ViewBag.Title = "ChooseFeedlot";
}

<h2>Choose Feedlot</h2>
<div class="col-lg-12" style="text-align:center">
    <div class="row">
        @Html.ActionLink("Feedlot 1", "Create", "Deceased", new { feedlotNum = 1 }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="row">
        @Html.ActionLink("Feedlot 2", "Create", "Deceased", new { feedlotNum = 2 }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="row">
        @Html.ActionLink("Feedlot 3", "Create", "Deceased", new { feedlotNum = 3 }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="row">
        @Html.ActionLink("Kelton", "Create", "Deceased", new { feedlotNum = 4 }, new { @class = "btn btn-primary btn-large" })
    </div>
</div>
