
@{
    ViewBag.Title = "ChooseFeedlot";
}

<h2>ChooseFeedlot</h2>

@Html.ActionLink("1", "Create", "Deceased", new { feedlot = 1}, new { @class = "btn btn-primary btn-large"})
@Html.ActionLink("2", "Create", "Deceased", new { feedlot = 2 }, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("3", "Create", "Deceased", new { feedlot = 3 }, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("4", "Create", "Deceased", new { feedlot = 4 }, new { @class = "btn btn-primary btn-large" })

