
@{
    ViewBag.Title = "ChooseFeedlot";
}

<h2>ChooseFeedlot</h2>
<div class="col-lg-12" style="text-align:center">
    <div class="row">
        @Html.ActionLink("1", "Create", "Deceased", new { feedlot = 1 }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="row">
        @Html.ActionLink("2", "Create", "Deceased", new { feedlot = 2 }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="row">
        @Html.ActionLink("3", "Create", "Deceased", new { feedlot = 3 }, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="row">
        @Html.ActionLink("4", "Create", "Deceased", new { feedlot = 4 }, new { @class = "btn btn-primary btn-large" })
    </div>
</div>
