@{
    ViewBag.Title = "Home Page";
}

<link rel="StyleSheet" href="~/Content/StyleSheet.css">
<div class="jumbotron banner">
    <center><h1>Header About Cows</h1></center>
    <center><p class="lead">Keep track of your cows</p></center>
</div>
<body>
    <br />
    <h2 align="center">Login</h2>
    <br />
    <br />
</body>